{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "account/login.css" %}">
    <title>ورود/ ثبت نام | data voice</title>
    <script src="{% static "account/login.css" %}"></script>
</head>
<body>
    <div class="container">
        <div class="form">
            <p id="description">صفحه ورود به حساب کاربری</p>
            <form action="" method="post">
                {% csrf_token %}
                <a href="{% url "login" %}" class="login-button">رفتن به صفحه ورود</a>
                <label id="username-label" for="username">نام کاربری</label>
                <input id="username-input" name="username" type="text" placeholder="نام کاربری خود را وارد کنید">
                <label id="email-label" for="email">ایمیل</label>
                <input id="email-input" name="email" type="text" placeholder="ایمیل خود را وارد کنید">
                <label for="password">رمزعبور</label>
                <input id="password-input" name="password" type="text" placeholder="پسورد">
                <a href="#" id="forget">فراموشی رمز عبور</a>
                <input type="submit" value="تایید" name="submit" id="submit">
            </form>
        </div>
    </div>   
</body>
</html>