a {
    text-decoration: none;
}

.footer-bg {
    background-color: #123458;
}

.text-kerem-color {
    color: #FFF1D5;
}

.copyright-bg {
    background-color: #123458;
}

.copyright-p {
    color: rgb(121, 121, 121);
}

.yasin {
    background-color: aliceblue;
    padding: 3px;
    color: red!important;
}