/* ارتفاع کل صفحه را به 100% تنظیم کنید */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* wrapper باید ارتفاع کل صفحه را پوشش دهد */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* اطمینان از پر شدن کل صفحه */
}

/* main باید فضای خالی بین هدر و فوتر را پر کند */
main {
    flex: 1; /* فضای باقیمانده را پر می‌کند */
}

/* استایل فوتر */
footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #ffebeb;
    color: #5f5f5f;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    background-color: #9a2323;
    border-radius: 3px;
    color: #ffffff;
    font-size: 15px;
    padding: 4px;
}