{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" 
    content="استخراج پاسخ از طریق ویس به داده متنی"/>
    <meta name=”robots” content=”index, follow”>
    <meta name="language" content="FA">
    <meta name="keywords" content="متن داده استخراج اطلاعات پاسخ پرسشنامه فرم">
    {% comment %} <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css"> {% endcomment %}
    <title>{% block page-title %}{% endblock page-title %}</title>
    
    <link rel="stylesheet" href="{% block style %}{% endblock style %}">

    <link rel="stylesheet" href="{% static 'main/css/partial/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/partial/footer.css' %}">
    
   </head>

{% include "partial/header.html" %}
<body>
    <main>
    {% block content %}{% endblock content %}
    </main>
    
</body>
{% include "partial/footer.html" %}
</html>