{% extends "base.html" %}
{% load static %}

{% block page-title %} report detail {% endblock page-title %}

{% block style %} {% static 'main/css/index.css' %} {% endblock style %}

{% block content %}
<!-- About us start -->
    <section class="border-bottom mb-5 pb-3">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 d-flex" dir="rtl">
                <div class="col mt-5">
                    <h1>
                        Hello
                    </h1>
                    <p style="text-align: justify;">
                        Sed ut perspiciatis unde omnis iste natu
                        s error sit voluptatem accusantium dolore
                        mque laudantium, totam rem aperiam, eaque
                         ipsa quae ab illo inventore veritatis et 
                         quasi architecto beatae vitae dicta sunt
                          explicabo. Nemo enim ipsam voluptatem qu
                          ia voluptas sit aspernatur aut odit aut 
                          fugit, sed quia consequuntur magni dolor
                          es eos qui ratione voluptatem sequi nesc
                          iunt. Neque porro quisquam est, qui dolore
                          m ipsum quia dolor sit amet, consectetur,
                           adipisci velit, sed quia non numquam eius modi tempora 
                           incidunt ut labore et dolore magnam aliquam quaerat
                            voluptatem. Ut enim ad minima veniam, quis nostrum 
                            exercitationem ullam corporis suscipit laboriosam,
                             nisi ut aliquid ex ea commodi consequatur? Quis autem
                              vel eum iure reprehenderit qui in ea voluptate velit 
                              esse quam nihil molestiae consequatur, vel illum qui 
                              dolorem eum fugiat quo voluptas nulla pariatur?
                    </p>
                </div>
                <div class="col">
                    <img src="{% static 'main/image/main.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
<!-- end about us -->

<!-- start outro -->
 <div class="section">
    <div class="container">
        <div class="row-cols-1 row-cols-md-2 d-flex">
            <div class="col">
                <h3>
                    this is header for outro
                </h3>
                <p>
                    Sed ut perspiciatis unde omnis iste natu
                        s error sit voluptatem accusantium dolore
                        mque laudantium, totam rem aperiam, eaque
                         ipsa quae ab illo inventore veritatis et 
                         quasi architecto beatae vitae dicta sunt
                          explicabo. Nemo enim ipsam voluptatem qu
                          ia voluptas sit aspernatur aut odit aut 
                          fugit, sed quia consequuntur magni dolor
                          es eos qui ratione voluptatem sequi nesc
                          iunt. Neque porro quisquam est, qui dolore
                          m ipsum quia dolor sit amet, consectetur,
                           adipisci velit, sed quia non numquam eius modi tempora 
                           incidunt ut labore et dolore magnam aliquam quaerat
                            voluptatem. Ut enim ad minima veniam, quis nostrum 
                            exercitationem ullam corporis suscipit laboriosam,
                             nisi ut aliquid ex ea commodi consequatur? Quis autem
                              vel eum iure reprehenderit qui in ea voluptate velit 
                              esse quam nihil molestiae consequatur, vel illum qui 
                              dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
            </div>
            <div class="col">
                <img src="{% static "main/image/outro.png" %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
 </div>
 <!-- end of outro -->

 <br><br><br><br><br><br><br><br><br>
{% endblock content %}